@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.navbar {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d3dbe4' fill-opacity='0.44' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.navbar-inverse a.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.hero {
  background: image_url('painting_scene_cropped_02.png') no-repeat fixed;
  background-position-x: 80%;
  background-position-y: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 3%;
}

.frosty h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  padding: 20px;
  padding-bottom: 5px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.btn {
  border-radius: 0;
}

.feature {
  color: white;
  text-weight: bold;
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Raleway', sans-serif;
}

body {

background: -webkit-linear-gradient(90deg, rgb(101, 135, 140), rgb(178, 202, 205));
background: linear-gradient(90deg, rgb(101, 135, 140), rgb(178, 202, 205));

  font-family: 'Raleway', sans-serif;
}

form abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.btn-secondary {
  background: none;
  border-style: none;
}

.btn-light {
  background: white;
}

.user_icon {
  max-height: 1.5em;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
}

.vjs-poster {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.lesson {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #DBB249;
  margin: 10px;
  padding: 8px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
  min-height: 130px;
}

.section {
  padding: 20px;
  margin: 20px;
}

.lesson a {
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 85;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.section-li {
  padding: 20px;
  margin: 20px;
}

.lessons li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  background: #ffffff;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #DBB249;
  margin: 10px;
  padding: 8px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.line {
  border: 2px solid black;
}

.gray {
  border: solid gray;
}